@media only screen and (min-width: 500px) {

    main {
        margin: auto;
        max-width: 800px;
    }

    header {
        width: 100%;
        background-color: lightgreen;
        text-align: left;
    }

    .general-information {
        margin: auto;
        width: 100%;
        display: block;
        font-size: 1em;
        margin-top: 20px;

    }

    .menu li:first-child {
        display: none;
    }

    .menu li {
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
        list-style: none;
        padding: 0;
        font-size: 1em;
        background-color: lightgreen;

    }

    #five-day-forecast {
        text-align: left;
    }

    .five-day-forecast-pictures {
        height: 20px;
        width: 100%;
    }

    #logo {
        background-color: lightgray;
    }

    #city {
        text-align: left;
    }


    .menu_enabler {
        display: block;
    }

    footer {
        width: 100%;
        background-color: lightgreen;
        font-size: 1.5em;
    }
}