@media (min-width: 32.5em){
    img {
        float: right;
        padding-top: 1%;
        padding-right: 1%;
        max-width: 20%;
        height: auto;
        border-top-right-radius: 20px;
    
    }
}