body{
    text-align: center;
    background-color: grey;
}

#one{
    float: left;
    width: 25%;
    background-color: blue;
    
}
#two{
    float: center;
    width: 25%;
    background-color: white;
}
#three{
    float: right;
    width: 25%;
    background-color: white;
}
p{
    color:blue;
}