.grid-container {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    justify-items: center;
    align-items: center;
    
}

#one{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 100px;
}
#two{
    grid-column-start: 2;
    grid-column-end: 3;
}
#three{
    grid-column-start: 3;
    grid-column-end: 4;
}