@media only screen and (min-width: 1050px) {
    main {
        background-color: lavender;

    }

    .cards {
        background-color: lavender;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(4, 1fr);
    }

    h1 {
        text-align: center;
        color: darkslateblue;
    }

    p {
        text-align: center;
    }

    h2 {
        text-align: center;
        color: darkslateblue;
    }

    img {
        width: 15em;
        display: block;
        margin: 0 auto;
    }

    footer {
        text-align: center;
    }

}