@media (max-width: 425px) {

    body{
        max-width: 425px;
        margin:auto;
    }

    .grid-holder {
        grid-template-columns: 1fr;
    }

    #first {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #second {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #third {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}