@media only screen and (min-width: 710px) {
    body {
        background-color: lavender;
    }

    .cards {
        background-color: lavender;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        text-align: center;
        color: darkslateblue;
    }

    p {
        text-align: center;
    }

    h2 {
        text-align: center;
        color: darkslateblue;
    }

    img {
        margin: 0 auto;
    }

    footer {
        text-align: center;
    }
}