@media only screen and (min-width: 599px) {
    body {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: lightcyan;

    }

    header {
        padding-top: 2em;
        display: flex;
        margin: 0 auto;
    }

    .header-image {
        margin-left: 7em;
    }

    #header-title {
        margin-left: 1em;
        grid-column: 2/3;
        justify-content: center;
        vertical-align: middle;
    }

    .navigation-bar li:first-child {
        display: none;
    }

    .navigation-bar {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        background-color: purple;
    }

    .navigation-bar li {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        background-color: purple;
    }

    ul li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: lightpink;
        font-size: 1.7em;
    }

    nav a:hover {
        background-color: lightpink;
        color: purple;
    }

    a:hover {
        background-color: none;
    }

    a:visited {
        color: lightskyblue;
    }

    .active {
        color: purple;
        background-color: lightpink;
    }

    #header-one {
        text-align: center;
    }

    #temple-activities {
        text-align: center;
    }

    #activity-one {
        padding-bottom: 2em;
    }

    #activity-two {
        padding-bottom: 2em;

    }

    #activity-three {
        padding-bottom: 4em;
    }

    div p {
        text-align: center;
        font-size: 1em;
    }

    #call-to-action {
        background-color: blue;
        text-align: center;
        font-size: 2em;
        color: white;
        margin-top: -3em;
    }

    footer {
        background-color: lightgrey;
        text-align: center;
    }


    /* Temples page */
    /* Temples page */
    /* Temples page */
    /* Temples page */
    .temple-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .temple-container img {
        max-width: 15em;
        text-align: center;
    }

    .temple-details-header {
        text-align: center;
    }

    /* Reservation Page */


    /* Services Page */
    #specialized-services {
        display: block;
    }

    .services-amenities-header {
        text-align: center;
        padding-top: 2em;
    }

    .pictures-for-services-page {
        max-width: 20em;
        margin-left: 15em;
    }

    .potential-bookings {
        text-align: center;
        padding-top: 2em;
    }

    a .services-link {
        background-color: none;
    }

    .specialized-amenities-items {
        text-align: center;
        margin-right: 2em;
    }

    #reception-picture {
        max-width: 15em;
        padding-left: 7em;
    }

    #suite-picture {
        max-width: 15em;
        padding-left: 7em;
    }

    /* Suites Page */
    .pictures-for-services-page {
        max-width: 20em;
    }

    .potential-bookings {
        margin-top: 3em;
        text-align: center;
    }

    #reception-picture {
        max-width: 15em;
    }

    #suite-picture {
        max-width: 15em;
    }

    #suites {
        text-align: center;
    }

    #suites-container {
        display: block;
    }

    #suite1 {
        max-width: 20em;
    }

    #suite1-header {
        text-align: center;
    }

    #suite2 {
        max-width: 20em;
    }

    #suite2-header {
        text-align: center;
    }

    #suite3 {
        max-width: 20em;
    }

    #suite3-header {
        text-align: center;
    }

    /* Reception Page */
    #reception-page-container {
        display: block;
    }

    #wedding-header {
        text-align: center;
    }

    .wedding-list {
        text-align: center;
        margin-right: 2em;
        padding: 0.2em;
    }

    #food-header {
        text-align: center;
    }

    .food-list {
        text-align: center;
        margin-right: 2em;
        padding: 0.2em;
    }

    #wedding-header {
        text-align: center;
    }

    #reception-header {
        text-align: center;
    }

}