@media only screen and (min-width: 599px) {
    body {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: lightcyan;

    }

    header {
        padding-top: 2em;
        display: flex;
        margin: 0 auto;
    }

    #header-image {
        margin-left: 7em;
    }

    #header-title {
        margin-left: 1em;
        grid-column: 2/3;
        justify-content: center;
        vertical-align: middle;
    }
    .navigation-bar li:first-child {
        display: none;
    }

    .navigation-bar{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        background-color: purple;
    }
    .navigation-bar li{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        background-color: purple;
    }

    ul li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: lightpink;
        font-size: 1.7em;
    }

    a:hover {
        background-color: lightpink;
        color: purple;
    }

    a:visited {
        color: lightskyblue;
    }

    .active {
        color: purple;
        background-color: lightpink;
    }

    #header-one {
        text-align: center;
    }

    #temple-activities {
        text-align: center;
    }

    #activity-one {
        padding-bottom: 2em;
    }

    #activity-two {
        padding-bottom: 2em;

    }

    #activity-three {
        padding-bottom: 4em;
    }

    div p {
        text-align: center;
        font-size: 1em;
    }

    #call-to-action {
        background-color: blue;
        text-align: center;
        font-size: 2em;
        color: white;
        margin-top: -3em;
    }

    footer {
        background-color: lightgrey;
        text-align: center;
    }
}