@media only screen and (min-width: 425px) {
    body {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        background-color: lightcyan;

    }

    header {
        padding-top: 1em;
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.2em;
    }

    #header-image {
        grid-column: 1/2;
        max-width: 10em;
        justify-content: center;
        padding-left: 1em;
    }

    #header-title {
        grid-column: 2/3;
        justify-content: center;
        vertical-align: middle;
        font-size: 2em;
        padding-left: 1em;
    }

    .navigation-bar li:first-child {
        display: block;
        background-color: purple;
    }

    .navigation-bar li {
        display: none;
        text-align: center;
        background-color: purple;
    }

    .shrinkMenu li {
        display: block;
        text-align: center;
    }

    ul li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: lightpink;
        font-size: 1.7em;
    }

    a:hover {
        background-color: lightpink;
        color: purple;
    }

    a:visited {
        color: lightskyblue;
    }

    .active {
        color: purple;
        background-color: lightpink;
    }

    #header-one {
        text-align: center;
    }

    #temple-activities {
        text-align: center;
    }

    #activity-one {
        padding-bottom: 2em;
    }

    #activity-two {
        padding-bottom: 2em;
    }

    #activity-three {
        padding-bottom: 4em;
    }

    #activity-three img {
        width: 400px;
    }

    div p {
        text-align: center;
        font-size: 1em;
    }

    #call-to-action {
        background-color: blue;
        text-align: center;
        font-size: 2em;
        color: white;
        margin-top: -3em;
    }

    footer {
        background-color: lightgrey;
        text-align: center;
    }
}